{% extends "base.html.twig" %}


{% block body %}

<div class="container">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Lieu</th>
                <th scope="col">Participation</th>
            </tr>
        </thead>
        <tbody>
        {% for tournoi  in tournois %}
            <tr>
                <td scope="col">{{ tournoi.date | date('d/m/Y') }} </td>
                <td scope="col">{{ tournoi.date | date('H:i') }}</td>
                <td scope="col">{{ tournoi.lieu }}</td>
                <td scope="col"><a href=" {{ path('tournois') }}/{{ tournoi.id }}" class="btn btn-success">Participer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

